*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	width: 100%;
}

body{
	font-family: 'Red Hat Text',sans-serif;
	margin: 0 auto;
	padding: 20px;
	background-color: hsl(20, 50%, 98%)
	
	/* justify-content: center; */
	/* align-items: center; */
	
	/* display: flex; */
	
}
h1{
	color: #333;
	text-align: left;
	margin-bottom: 30px;
}
h3{
	color: black;
	text-align: left;
	font-weight: bold;
}
h4{
	color: #333;
	text-align: left;
}
.price{
	color: #ff6b35;
	font-weight: bold;
	display: block;
	margin-top: 5px;
	text-align: left;
}
.wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.menu{
	display: grid;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 0 0 70%;
	gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
	
}
.item{
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0,0,0,0,1);
	padding: 10px;
	margin: 10px;
	text-align: left;
	box-shadow: 0 2px 8px rgba(0,0,0,0,1);
	transition: transform 0.2s;
	position: relative;

}
.item:hover{
	transform: scale(1.03);
}
.item img{
	width: 100%;
	height: auto;
	border-radius:8px ;
}
.add-to-cart,
.increase-decrease-wrapper {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Set to 'auto' or define specific width */
  background-color: hsl(11, 100%, 96%);
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: none;
  border: none;
}
.add-to-cart {
	z-index: 1;
	/* opacity: 0; */
	font-weight: bold;
	font-size: 14px; /* Add-to-cart is on top */
  }
  
  .increase-decrease-wrapper {
	z-index: 0; /* Below the add-to-cart */
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
  }
  
  .add-to-cart:hover {
	background-color: #e65c24;
  }
  
  .fas {
	color: #ff6b35;
  }
  
  .increase-decrease-wrapper button {
	background: none;
	border: none;
	cursor: pointer;
	color: #ff6b35;
	font-size: 1.5em;
	margin: 0 5px;
  }
  
  .Quantity {
	font-size: 1em;
  }
  
  .right-wrap {
	flex: 0 0 25%;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 1);
  }
  .right-wrap h2 {
	margin-top: 0;
  }
  .cart-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .cart-item button {
	cursor: pointer;
	color: #ff6b35;
	background: transparent;
	border: none;
	font-size: 16px;
  }
  .total {
	font-weight: bold;
	margin: 20px 0;
	font-size: 1.2em;
  }
  .btn {
	background-color: hsl(159, 69%, 38%);
	color: white;
	border: none;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.2;
	width: 100%;
	padding: 10px 15px;
  }
  .btn:hover {
	background-color: #e65c24;
  }
  .confirmation {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0, 4);
	overflow: auto;
	padding-top: 60px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
  }
  .order {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	width: 80%;
	border: 1px solid #888;
	border-radius: 8px;
	max-width: 500px;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  @media (max-width: 768px) {
	body{
		font-size: 14px;
	}
  }
  